/* ---------- YouTube ---------- */

.youtube.privacy-embed {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  position: relative; /* If you want text inside of it */
  margin-bottom: 18px;
}

.youtube.privacy-embed-iframe {
  display: none;
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.youtube.privacy-embed-thumbnail {
  position: absolute;
  max-width: unset !important;
  width: calc(100% - 2 * 3px);
  height: calc(100% - 2 * 3px) !important;
  top: 3px;
  left: 3px;
  object-fit: cover;
  z-index: 1;
  filter: blur(5px) brightness(50%);
}

.youtube.privacy-embed-notice {
  position: absolute;
  width: calc(100% - 2 * 20px); /* (2*3px = border) | 2*20px = padding */
  max-height: calc(100% - 2 * 20px); /* (2*3px = border) | 2*20px = padding */
  top: calc(50% + 3px);
  left: 18px;
  transform: translateY(-50%);
  padding: 0px 20px;
  text-align: center;
  object-fit: cover;
  z-index: 2;
  font-weight: bold;
  color: white;
  margin: 0px !important;

  overflow-y: auto;
  overflow-x: hidden;
}

.youtube.privacy-embed-load {
  font-weight: bold;
  color: white;

  cursor: pointer;
  text-decoration: underline;
}

/* ---------- Spotify ---------- */

.spotify.privacy-embed:not(.spotify-episode) {
  width: 100%;
  padding-top: 177.78%; /* 9:16 Aspect Ratio (divide 16 by 9 = 1.7778) */
  position: relative; /* If you want text inside of it */
  margin-bottom: 18px;
}

.spotify.spotify-episode.privacy-embed {
  width: 100%;
  height: 232px;
  position: relative; /* If you want text inside of it */
  margin-bottom: 18px;
}

.spotify.privacy-embed-iframe {
  display: none;
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.spotify.privacy-embed-thumbnail {
  position: absolute;
  max-width: unset !important;
  width: calc(100% - 2 * 3px);
  height: calc(100% - 2 * 3px) !important;
  top: 3px;
  left: 3px;
  object-fit: cover;
  z-index: 1;
  filter: blur(5px) brightness(50%);
}

.spotify.privacy-embed-notice {
  position: absolute;
  width: calc(100% - 2 * 20px); /* (2*3px = border) | 2*20px = padding */
  max-height: calc(100% - 2 * 20px); /* (2*3px = border) | 2*20px = padding */
  top: calc(50% + 3px);
  left: 18px;
  transform: translateY(-50%);
  padding: 0px 20px;
  text-align: center;
  object-fit: cover;
  z-index: 2;
  font-weight: bold;
  color: white;
  margin: 0px !important;

  overflow-y: auto;
  overflow-x: hidden;
}

.spotify.privacy-embed-load {
  font-weight: bold;
  color: white;

  cursor: pointer;
  text-decoration: underline;
}

/* ---------- Twitter ---------- */

.twitter.privacy-embed {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  position: relative; /* If you want text inside of it */
  margin-bottom: 18px;
}

.twitter.privacy-embed-thumbnail {
  position: absolute;
  max-width: unset !important;
  width: calc(100% - 2 * 3px);
  height: calc(100% - 2 * 3px) !important;
  top: 3px;
  left: 3px;
  object-fit: cover;
  z-index: 1;
  filter: blur(5px) brightness(50%);
}

.twitter.privacy-embed-notice {
  position: absolute;
  width: calc(100% - 2 * 20px); /* (2*3px = border) | 2*20px = padding */
  max-height: calc(100% - 2 * 20px); /* (2*3px = border) | 2*20px = padding */
  top: calc(50% + 3px);
  left: 18px;
  transform: translateY(-50%);
  padding: 0px 20px;
  text-align: center;
  object-fit: cover;
  z-index: 2;
  font-weight: bold;
  color: white;
  margin: 0px !important;

  overflow-y: auto;
  overflow-x: hidden;
}

.twitter.privacy-embed-load {
  font-weight: bold;
  color: white;

  cursor: pointer;
  text-decoration: underline;
}
